body{
    
    .col-md-3{
        background-color:rgb(133, 228, 204);
    }
    ul{
        color: rgb(1, 78, 1);
    }
    li{
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    #ca{
        margin-bottom: 10px;
    }

    img{
        width: 251px;
        height: 201px;
    }

    hr{
        border-width: 3px;
        border-color: darkgrey;
    }
}