

body{

    #sha{
        width: 20cm;
        border: 1px solid black;
    }

    img{
       height: 50px;
       width: 50px;
       padding-bottom: 10px;
    }

    .lead{
        padding-left: 54px;
        font-size: 13px;
        font-weight: bold;
    }
    #pomo{
        background-color: white;
    }

    a{
        color: green;
    }
    #para{
        text-align: center;
    }

   div{
    padding: 10px;
   }

   #bor{
        padding-bottom: 15px;
        border-top: 3px solid lightgray;
   }
    #two{
        padding-top: 200px;
        padding-left: 70px;
    }
    #three{
        padding-top: 200px;
        padding-left: 20px;
    }
}